.header{
  display: flex;
}

.msg-slide {
  position: absolute;
    width: 50%;
    padding: 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    z-index: 100;
    border: 2px solid;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

#msg-submit{
  left: 50%;
    position: fixed;
    margin-bottom: 100px;
    bottom: 0px;
    transform: translateX(-50%);
}

#avatar{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.likeIcon{
  cursor: pointer;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 10px;

}

.likeIcon.active{
  color: deeppink;
}
